header.header
  a(href="#").inner_logo  
    span 28
    span Admin
  .inner_wrap 
    .inner_notify
      img(src="assets/images/icon_bell.svg", alt="bell icon")
      span 6
    .inner_account 
      img(src="assets/images/logo.png", alt="account avatar")
      .inner_text 
        .inner_name Le Van A
        .inner_role Admin
