@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  --color-main: #4880ff;
  --color-text: #202224;
}

* {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
body {
  margin: 0;
}

a {
  text-decoration: none;
}

input,
textarea,
select,
button {
  outline: 0;
}

/* Page account */
.page_account {
  padding: 50px 0;
  background-image: url(../images/bg_img.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.inner_form {
  background-color: #ffffff;
  border-radius: 24px;
  padding: 90px 57px;
  border: 0.3px solid #b9b9b9;
  width: 630px;
  margin: 0 auto;
}

.inner_form .inner_title {
  font-weight: 700;
  font-size: 32px;
  color: var(--color-text);
  text-align: center;
  margin: 0;
  margin-bottom: 15px;
}

.inner_form .inner_desc {
  font-weight: 600;
  font-size: 18px;
  color: var(--color-text);
  opacity: 0.8;
  text-align: center;
  margin-bottom: 40px;
}

.inner_form form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.inner_form form .inner_group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inner_form form .inner_group .inner_label {
  font-weight: 600;
  font-size: 18px;
  color: var(--color-text);
  opacity: 0.8;
}

.inner_form form .inner_group .inner_input {
  border-radius: 8px;
  background-color: #f1f4f9;
  border: 1px solid #d8d8d8;
  padding: 16px;
  font-weight: 600;
  font-size: 18px;
  color: var(--color-text);
}

.inner_form form .inner_group .inner_input::placeholder {
  color: #a6a6a6;
}

.inner_form form .inner_meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inner_form form .inner_meta .checkbox-wrapper-1 label,
.inner_form form .inner_meta a {
  font-weight: 600;
  font-size: 18px;
  color: rgba(32, 34, 36, 0.6);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
}

.inner_form form .inner_meta a:hover {
  color: var(--color-main);
}

.inner_form form button {
  border-radius: 8px;
  background-color: var(--color-main);
  opacity: 0.9;
  padding: 15px 0;
  border: 0;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 30px;
}

.inner_form form button:hover {
  opacity: 1;
}

.inner_form .inner_more {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.inner_form .inner_more span {
  font-weight: 600;
  font-size: 18px;
  color: var(--color-text);
  opacity: 0.65;
}

.inner_form .inner_more a {
  font-weight: 700;
  font-size: 18px;
  color: var(--color-main);
  text-decoration: underline;
}

@media (max-width: 768px) {
  .inner_form {
    width: 80%;
  }
}

@media (max-width: 576px) {
  .page_account {
    padding: 30px 0;
  }

  .inner_form {
    width: 90%;
    border-radius: 16px;
    padding: 40px 20px;
  }

  .inner_form .inner_title {
    margin-bottom: 10px;
    font-size: 30px;
  }

  .inner_form .inner_desc {
    margin-bottom: 26px;
    font-size: 16px;
  }

  .inner_form form {
    gap: 20px;
  }

  .inner_form form .inner_meta .checkbox-wrapper-1 label,
  .inner_form form .inner_meta a {
    font-size: 16px;
  }

  .inner_form .inner_more {
    justify-content: space-between;
  }

  .inner_form .inner_more span {
    font-size: 16px;
  }

  .inner_form .inner_more a {
    font-size: 16px;
  }
}
/* End Page account */

/* .checkbox-wrapper-1 */
.checkbox-wrapper-1 *,
.checkbox-wrapper-1 ::after,
.checkbox-wrapper-1 ::before {
  box-sizing: border-box;
}
.checkbox-wrapper-1 [type="checkbox"].substituted {
  margin: 0;
  width: 0;
  height: 0;
  display: inline;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.checkbox-wrapper-1 [type="checkbox"].substituted + label:before {
  content: "";
  display: inline-block;
  vertical-align: top;
  height: 1.15em;
  width: 1.15em;
  margin-right: 0;
  color: rgba(0, 0, 0, 0.275);
  border: solid 0.06em;
  box-shadow:
    0 0 0.04em,
    0 0.06em 0.16em -0.03em inset,
    0 0 0 0.07em transparent inset;
  border-radius: 0.2em;
  background:
    url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xml:space="preserve" fill="white" viewBox="0 0 9 9"><rect x="0" y="4.3" transform="matrix(-0.707 -0.7072 0.7072 -0.707 0.5891 10.4702)" width="4.3" height="1.6" /><rect x="2.2" y="2.9" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 12.1877 2.9833)" width="6.1" height="1.7" /></svg>')
      no-repeat center,
    white;
  background-size: 0;
  will-change: color, border, background, background-size, box-shadow;
  transform: translate3d(0, 0, 0);
  transition:
    color 0.1s,
    border 0.1s,
    background 0.15s,
    box-shadow 0.1s;
}
.checkbox-wrapper-1 [type="checkbox"].substituted:enabled:active + label:before,
.checkbox-wrapper-1
  [type="checkbox"].substituted:enabled
  + label:active:before {
  box-shadow:
    0 0 0.04em,
    0 0.06em 0.16em -0.03em transparent inset,
    0 0 0 0.07em rgba(0, 0, 0, 0.1) inset;
  background-color: #f0f0f0;
}
/* Trạng thái khi ĐÃ CHECK */
.checkbox-wrapper-1 [type="checkbox"].substituted:checked + label:before {
  background-color: #4880ff; /* Màu chủ đạo của bạn */
  background-size: 0.75em;
  color: rgba(0, 0, 0, 0.075);
  border-color: #4880ff; /* Thêm dòng này để viền cũng đổi màu */
}

/* Trạng thái khi ĐANG CLICK (Active) */
.checkbox-wrapper-1
  [type="checkbox"].substituted:checked:enabled:active
  + label:before,
.checkbox-wrapper-1
  [type="checkbox"].substituted:checked:enabled
  + label:active:before {
  background-color: #366de6; /* Màu đậm hơn một chút khi nhấn giữ */
  color: rgba(0, 0, 0, 0.275);
}

/* Trạng thái khi FOCUS (Dùng phím Tab hoặc click vào) */
.checkbox-wrapper-1 [type="checkbox"].substituted:focus + label:before {
  box-shadow:
    0 0 0.04em,
    0 0.06em 0.16em -0.03em transparent inset,
    0 0 0 0.07em rgba(0, 0, 0, 0.1) inset,
    0 0 0 3.3px rgba(72, 128, 255, 0.25),
    /* Đổi thành màu #4880ff có độ trong suốt */ 0 0 0 5px
      rgba(72, 128, 255, 0.1); /* Đổi thành màu #4880ff có độ trong suốt */
}
.checkbox-wrapper-1 [type="checkbox"].substituted:focus:active + label:before,
.checkbox-wrapper-1 [type="checkbox"].substituted:focus + label:active:before {
  box-shadow:
    0 0 0.04em,
    0 0.06em 0.16em -0.03em transparent inset,
    0 0 0 0.07em rgba(0, 0, 0, 0.1) inset,
    0 0 0 3.3px rgba(65, 159, 255, 0.55),
    0 0 0 5px rgba(65, 159, 255, 0.3);
}
.checkbox-wrapper-1 [type="checkbox"].substituted:disabled + label:before {
  opacity: 0.5;
}

.checkbox-wrapper-1 [type="checkbox"].substituted.dark + label:before {
  color: rgba(255, 255, 255, 0.275);
  background-color: #222;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xml:space="preserve" fill="rgba(34, 34, 34, 0.999)" viewBox="0 0 9 9"><rect x="0" y="4.3" transform="matrix(-0.707 -0.7072 0.7072 -0.707 0.5891 10.4702)" width="4.3" height="1.6" /><rect x="2.2" y="2.9" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 12.1877 2.9833)" width="6.1" height="1.7" /></svg>');
}
.checkbox-wrapper-1
  [type="checkbox"].substituted.dark:enabled:active
  + label:before,
.checkbox-wrapper-1
  [type="checkbox"].substituted.dark:enabled
  + label:active:before {
  background-color: #444;
  box-shadow:
    0 0 0.04em,
    0 0.06em 0.16em -0.03em transparent inset,
    0 0 0 0.07em rgba(255, 255, 255, 0.1) inset;
}
.checkbox-wrapper-1 [type="checkbox"].substituted.dark:checked + label:before {
  background-color: #a97035;
  color: rgba(255, 255, 255, 0.075);
}
.checkbox-wrapper-1
  [type="checkbox"].substituted.dark:checked:enabled:active
  + label:before,
.checkbox-wrapper-1
  [type="checkbox"].substituted.dark:checked:enabled
  + label:active:before {
  background-color: #c68035;
  color: rgba(0, 0, 0, 0.275);
}
.checkbox-wrapper-1 [type="checkbox"].substituted + label {
  -webkit-user-select: none;
  user-select: none;
}

@media (max-width: 576px) {
  .checkbox-wrapper-1 [type="checkbox"].substituted + label:before {
    height: 0.85em;
    width: 0.85em;
  }
}
/* End .checkbox-wrapper-1 */
