@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  --color-main: #4880ff;
  --color-text: #202224;
}

* {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
body {
  margin: 0;
}

a {
  text-decoration: none;
}

input,
textarea,
select,
button {
  outline: 0;
}

/* Page account */
.page_account {
  padding: 50px 0;
  background-image: url(../images/bg_img.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.inner_form {
  background-color: #ffffff;
  border-radius: 24px;
  padding: 90px 57px;
  border: 0.3px solid #b9b9b9;
  width: 630px;
  margin: 0 auto;
}

.inner_form .inner_title {
  font-weight: 700;
  font-size: 32px;
  color: var(--color-text);
  text-align: center;
  margin: 0;
  margin-bottom: 15px;
}

.inner_form .inner_desc {
  font-weight: 600;
  font-size: 18px;
  color: var(--color-text);
  opacity: 0.8;
  text-align: center;
  margin-bottom: 40px;
}

.inner_form form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.inner_form form .inner_group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inner_form form .inner_group .inner_label {
  font-weight: 600;
  font-size: 18px;
  color: var(--color-text);
  opacity: 0.8;
}

.inner_form form .inner_group .inner_input {
  border-radius: 8px;
  background-color: #f1f4f9;
  border: 1px solid #d8d8d8;
  padding: 16px;
  font-weight: 600;
  font-size: 18px;
  color: var(--color-text);
}

.inner_form form .inner_group .inner_input::placeholder {
  color: #a6a6a6;
}

.inner_form form .inner_meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inner_form form .inner_meta a {
  font-weight: 600;
  font-size: 18px;
  color: rgba(32, 34, 36, 0.6);
  cursor: pointer;
}

.inner_form form .inner_meta a:hover {
  color: var(--color-main);
}

.inner_form form button {
  border-radius: 8px;
  background-color: var(--color-main);
  opacity: 0.9;
  padding: 15px 0;
  border: 0;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 30px;
}

.inner_form form button:hover {
  opacity: 1;
}

.inner_form .inner_more {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.inner_form .inner_more span {
  font-weight: 600;
  font-size: 18px;
  color: var(--color-text);
  opacity: 0.65;
}

.inner_form .inner_more a {
  font-weight: 700;
  font-size: 18px;
  color: var(--color-main);
  text-decoration: underline;
}

@media (max-width: 768px) {
  .inner_form {
    width: 80%;
  }
}

@media (max-width: 576px) {
  .page_account {
    padding: 30px 0;
  }

  .inner_form {
    width: 90%;
    border-radius: 16px;
    padding: 40px 20px;
  }

  .inner_form .inner_title {
    margin-bottom: 10px;
    font-size: 30px;
  }

  .inner_form .inner_desc {
    margin-bottom: 26px;
    font-size: 16px;
  }

  .inner_form form {
    gap: 20px;
  }

  .inner_form form .inner_meta .checkbox-wrapper-1 label,
  .inner_form form .inner_meta a {
    font-size: 16px;
  }

  .inner_form .inner_more {
    justify-content: space-between;
  }

  .inner_form .inner_more span {
    font-size: 16px;
  }

  .inner_form .inner_more a {
    font-size: 16px;
  }
}
/* End Page account */

/* Header */
.header {
  background-color: #ffffff;
  height: 70px;
  border-bottom: 1px solid #e0e0e0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .inner_logo {
  width: 240px;
  text-align: center;
}

.header .inner_logo span:first-child,
.header .inner_logo span:last-child {
  font-weight: 800;
  font-size: 24px;
}

.header .inner_logo span:first-child {
  color: var(--color-main);
}

.header .inner_logo span:last-child {
  color: var(--color-text);
}

.header .inner_wrap {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-right: 30px;
}

.header .inner_wrap .inner_notify {
  position: relative;
}

.header .inner_wrap .inner_notify img {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .inner_wrap .inner_notify span {
  display: inline-block;
  text-align: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #f93c65;
  font-weight: 700;
  font-size: 12px;
  color: #ffffff;
  position: absolute;
  top: -6px;
  right: -2px;
}

.header .inner_wrap .inner_account {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header .inner_wrap .inner_account img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.header .inner_wrap .inner_account .inner_text {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.header .inner_wrap .inner_account .inner_text .inner_name {
  font-weight: 700;
  font-size: 14px;
  color: #404040;
}

.header .inner_wrap .inner_account .inner_text .inner_role {
  font-weight: 600;
  font-size: 12px;
  color: #565656;
}

.header .inner_btn_menu {
  border: 0;
  outline: 0;
  background-color: transparent;
  font-size: 22px;
  display: none;
}

@media (max-width: 992px) {
  .header .inner_logo {
    width: auto;
    padding-left: 30px;
  }

  .header .inner_btn_menu {
    display: inline-block;
  }
}

@media (max-width: 576px) {
  .header .inner_logo {
    padding-left: 15px;
    font-size: 20px;
  }

  .header .inner_wrap {
    gap: 25px;
    padding-right: 15px;
  }
}
/* End Header */

/* Sider */
.sider {
  background-color: #ffffff;
  width: 240px;
  height: calc(100vh - 70px);
  position: fixed;
  top: 70px;
  left: 0;
  border-right: 1px solid #e0e0e0;
  overflow-y: auto;
}

.sider .inner_menu {
  list-style: none;
  margin: 0;
  padding: 16px 0;
}

.sider .inner_menu a {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 0 10px 0 24px;
  padding: 13px 16px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  color: var(--color-text);
  position: relative;
}

.sider .inner_menu a.active,
.sider .inner_menu a:hover {
  background-color: var(--color-main);
  color: #ffffff;
}

.sider .inner_menu a::before {
  content: "";
  width: 9px;
  height: 100%;
  border-radius: 0 4px 4px 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: -28.5px;
}

.sider .inner_menu a.active::before,
.sider .inner_menu a:hover::before {
  background-color: var(--color-main);
}

.sider hr {
  border: 0.6px solid #e0e0e0;
  margin: 0;
}

.sider .inner_menu a.inner_logout {
  color: #f93c65;
}

.sider .inner_menu a.inner_logout:hover,
.sider .inner_menu a.inner_logout:hover::before {
  background-color: #f93c65;
  color: #ffffff;
}

@media (max-width: 992px) {
  .sider {
    display: none;
  }
}
/* End Sider */

/* Main */
.main {
  background-color: #f5f6fa;
  width: calc(100% - 240px);
  min-height: calc(100vh - 70px);
  position: absolute;
  top: 70px;
  left: 240px;
  padding: 30px;
}

@media (max-width: 992px) {
  .main {
    width: 100%;
    left: 0;
  }
}

@media (max-width: 576px) {
  .main {
    padding: 30px 15px;
  }
}
/* End Main */

/* SECTION 1 */
.section_1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 30px;
}

.section_1 .inner_item {
  padding: 28px 0;
  border-radius: 14px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.section_1 .inner_item .inner_text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.section_1 .inner_item .inner_text .inner_title {
  font-weight: 600;
  font-size: 16px;
  color: var(--color-text);
}

.section_1 .inner_item .inner_text .inner_number {
  font-weight: 700;
  font-size: 28px;
  color: var(--color-text);
}

@media (max-width: 1200px) {
  .section_1 {
    grid-template-columns: 1fr;
  }
}
/* END SECTION 1 */

/* SECTION 2 */
.section_2 {
  border-radius: 14px;
  background-color: #ffffff;
  box-shadow: 6px 6px 54px 0px #0000000d;
  padding: 32px;
  margin-bottom: 30px;
}

.section_2 .inner_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.section_2 .inner_head .inner_title {
  font-weight: 700;
  font-size: 24px;
  color: var(--color-text);
}

.section_2 .inner_head .inner_input {
  border-radius: 4px;
  background-color: #fcfdfd;
  border: 0.6px solid #d5d5d5;
  font-weight: 600;
  font-size: 12px;
  color: #2b303466;
  padding: 0 16px;
  height: 28px;
}

.section_2 .inner_chart {
  background-color: gray;
  height: 273px;
}

@media (max-width: 576px) {
  .section_2 {
    padding: 20px 10px;
  }

  .section_2 .inner_head {
    flex-wrap: wrap;
    gap: 10px;
  }
}
/* END SECTION 2 */

/* SECTION 3 */
.section_3 {
  border-radius: 14px;
  background-color: #ffffff;
  box-shadow: 6px 6px 54px 0px #0000000d;
  padding: 32px;
  margin-bottom: 30px;
}

.section_3 .inner_title {
  font-weight: 700;
  font-size: 24px;
  color: var(--color-text);
  margin-bottom: 30px;
}

@media (max-width: 576px) {
  .section_3 {
    padding: 20px 10px;
  }
}
/* END SECTION 3 */

/* SECTION 4 */
.section_4 {
  margin-bottom: 15px;
}

.section_4 .inner_wrap {
  border-radius: 14px;
  background-color: #ffffff;
  border: 0.6px solid #d5d5d5;
  display: inline-flex;
}

.section_4 .inner_item {
  padding: 24px;
  border-right: 0.6px solid #d5d5d5;
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 700;
  font-size: 14px;
  color: var(--color-text);
  cursor: pointer;
}

.section_4 .inner_item:last-child {
  border-right: 0;
}

.section_4 .inner_item select,
.section_4 .inner_item input {
  border: 0;
  background-color: transparent;
  font-weight: 700;
  font-size: 14px;
  color: var(--color-text);
}

.section_4 .inner_item.inner_reset {
  font-weight: 600;
  font-size: 14px;
  color: #ea0234;
}

@media (max-width: 1200px) {
  .section_4 .inner_wrap {
    flex-wrap: wrap;
  }

  .section_4 .inner_item {
    padding: 10px 20px;
  }
}

@media (max-width: 576px) {
  .section_4 .inner_item {
    padding: 10px 12px;
  }
}

/* END SECTION 4 */

/* SECTION 5 */
.section_5 {
  margin-bottom: 30px;
}

.section_5 .inner_wrap {
  display: flex;
  gap: 20px;
}

.section_5 .inner_change_status {
  display: flex;
  align-items: center;
  border-radius: 14px;
  background-color: #ffffff;
  border: 0.6px solid #d5d5d5;
}

.section_5 .inner_change_status select,
.section_5 .inner_change_status button {
  border: 0;
  background-color: transparent;
  padding: 24px;
  cursor: pointer;
}

.section_5 .inner_change_status select {
  font-weight: 700;
  font-size: 14px;
  color: var(--color-text);
  padding-right: 0;
}

.section_5 .inner_change_status button {
  font-weight: 600;
  font-size: 14px;
  color: #ea0234;
  border-left: 0.6px solid #d5d5d5;
  margin-left: 24px;
}

.section_5 .inner_search {
  max-width: 366px;
  width: 100%;
  border-radius: 14px;
  background-color: #ffffff;
  border: 1px solid #e2e2e2;
  padding: 24px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.section_5 .inner_search button {
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: 20px;
  opacity: 0.5;
  cursor: pointer;
}

.section_5 .inner_search input {
  flex: 1;
  border: 0;
  background-color: transparent;
  font-weight: 700;
  font-size: 14px;
  color: var(--color-text);
}

.section_5 .inner_search input::placeholder {
  font-weight: 700;
  font-size: 14px;
  color: #979797;
}

.section_5 .inner_create {
  width: 159px;
  padding: 24px 0;
  border-radius: 14px;
  background-color: var(--color-main);
  opacity: 0.9;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.section_5 .inner_create:hover {
  opacity: 1;
}

.section_5 .inner_trash {
  width: 126px;
  padding: 24px 0;
  border-radius: 14px;
  background-color: #ef382633;
  opacity: 0.9;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ef3826;
}

.section_5 .inner_trash:hover {
  opacity: 1;
}

@media (max-width: 1200px) {
  .section_5 .inner_wrap {
    flex-wrap: wrap;
  }

  .section_5 .inner_change_status select,
  .section_5 .inner_change_status button {
    padding: 10px;
  }

  .section_5 .inner_change_status button {
    margin-left: 10px;
  }

  .section_5 .inner_search {
    padding: 10px;
  }

  .section_5 .inner_create {
    padding: 10px 0;
  }

  .section_5 .inner_trash {
    padding: 10px 0;
  }
}

@media (max-width: 768px) {
  .section_5 .inner_wrap {
    gap: 10px;
  }

  .section_5 .inner_change_status {
    width: 100%;
  }

  .section_5 .inner_change_status select {
    width: 70%;
  }

  .section_5 .inner_change_status button {
    flex: 1;
  }

  .section_5 .inner_search {
    max-width: 100%;
  }

  .section_5 .inner_create {
    width: 100%;
  }

  .section_5 .inner_trash {
    width: 100%;
  }
}
/* END SECTION 5 */

/* SECTION 7 */
.section_7 {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.section_7 .inner_text {
  font-weight: 600;
  font-size: 14px;
  color: var(--color-text);
  opacity: 0.6;
}

.section_7 select {
  border-radius: 8px;
  background-color: #fafbfd;
  border: 0.6px solid #d5d5d5;
  padding: 6px 14px;
  font-weight: 600;
  font-size: 14px;
  color: var(--color-text);
  opacity: 0.6;
  cursor: pointer;
}
/* END SECTION 7 */

/* SECTION 8 */
.section_8 {
  border-radius: 14px;
  background-color: #ffffff;
  border: 0.3px solid #b9b9b9;
  padding: 50px;
}

.section_8 form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 30px;
}

.section_8 .inner_group {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.section_8 .inner_group .inner_label {
  font-weight: 600;
  font-size: 14px;
  color: #606060;
}

.section_8 .inner_group .inner_control {
  border-radius: 4px;
  background-color: #f5f6fa;
  border: 0.6px solid #d5d5d5;
  padding: 15px 22px;
}

.section_8 .inner_group .inner_control,
.section_8 .inner_group .inner_control::placeholder {
  font-weight: 500;
  font-size: 14px;
  color: var(--color-text);
}

.section_8 .inner_group.inner_2_cols {
  grid-column: span 2;
}

.section_8 .inner_group.inner_2_cols textarea {
  height: 160px;
}

.section_8 .inner_group.inner_2_cols:last-child {
  display: block;
  text-align: center;
}

.section_8 .inner_group.inner_2_cols button {
  border-radius: 12px;
  background-color: var(--color-main);
  border: 0;
  opacity: 0.9;
  padding: 16px 0;
  width: 274px;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
}

.section_8 .inner_group.inner_2_cols button:hover {
  opacity: 1;
}

.section_8 .inner_back {
  text-align: center;
}

.section_8 .inner_back a {
  font-weight: 700;
  font-size: 18px;
  color: #5a8cff;
  text-decoration: underline;
  cursor: pointer;
}

.section_8 .inner_group.inner_list {
  display: block;
}

.section_8 .inner_group.inner_list .inner_label {
  display: inline-block;
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 14px;
  color: #606060;
}

.section_8 .inner_group.inner_list .inner_input_list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.section_8 .inner_group.inner_list .inner_input_item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.section_8 .inner_group.inner_list .inner_input_item label {
  width: 89px;
  font-weight: 600;
  font-size: 14px;
  color: #606060;
}

.section_8 .inner_group.inner_list .inner_input_item input {
  flex: 1;
  border-radius: 4px;
  background-color: #f5f6fa;
  border: 0.6px solid #d5d5d5;
  padding: 15px 22px;
  font-weight: 500;
  font-size: 14px;
  color: var(--color-text);
}

.section_8 .inner_group.inner_list .inner_checkbox_list {
  border-radius: 4px;
  background-color: #f5f6fa;
  border: 0.6px solid #d5d5d5;
  padding: 14px 23px;
  display: flex;
  flex-direction: column;
  gap: 9px;
  max-height: 166px;
  overflow-y: auto;
}

.section_8 .inner_schedule_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

.section_8 .inner_schedule_item {
  border-radius: 4px;
  border: 0.6px solid #d5d5d5;
  padding: 20px;
}

.section_8 .inner_schedule_head {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.section_8 .inner_schedule_head .inner_btn {
  width: 52px;
  height: 52px;
  font-size: 18px;
  border-radius: 4px;
  background-color: #f5f6fa;
  border: 0.6px solid #d5d5d5;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #a6a6a6;
}

.section_8 .inner_schedule_head .inner_btn.inner_remove {
  color: #ef3826;
}

.section_8 .inner_schedule_head input {
  flex: 1;
  height: 52px;
  border-radius: 4px;
  background-color: #f5f6fa;
  border: 0.6px solid #d5d5d5;
  padding: 0 18px;
  font-weight: 500;
  font-size: 14px;
  color: var(--color-text);
}

.section_8 .inner_schedule_body textarea {
  width: 100%;
  height: 300px;
  border-radius: 4px;
  background-color: #f5f6fa;
  border: 0.6px solid #d5d5d5;
  padding: 16px 22px;
  font-weight: 500;
  font-size: 14px;
  color: var(--color-text);
}

.section_8 .inner_schedule_create {
  display: inline-block;
  border-radius: 4px;
  background-color: #d5d5d5;
  padding: 10px 20px;
  opacity: 0.9;
  font-weight: 700;
  font-size: 14px;
  color: var(--color-text);
  cursor: pointer;
}

.section_8 .inner_schedule_create:hover {
  opacity: 1;
}

.section_8 .tour_list .inner_item img {
  width: 115px;
}

.section_8 .inner_order_total {
  font-weight: 600;
  font-size: 14px;
  color: var(--color-text);
  opacity: 0.8;
}

.section_8 .inner_order_total span {
  font-weight: 700;
  color: #ef3826;
}

@media (max-width: 1200px) {
  .section_8 .inner_group.inner_list .inner_input_item input {
    width: 0;
  }
}

@media (max-width: 768px) {
  .section_8 {
    padding: 20px;
  }

  .section_8 form {
    grid-template-columns: 1fr;
  }

  .section_8 .inner_group.inner_2_cols {
    grid-column: span 1;
  }

  .section_8 .inner_schedule_create {
    display: block;
    width: 151px;
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  .section_8 {
    padding: 10px;
  }

  .section_8 .inner_schedule_head {
    flex-wrap: wrap;
  }

  .section_8 .inner_schedule_head input {
    flex: none;
    width: 100%;
    order: 1;
  }
}
/* END SECTION 8 */

/* TABLE 2 */
.table_2 {
  overflow-x: auto;
}

.table_2 table {
  border-radius: 14px;
  background-color: #ffffff;
  border: 0.3px solid #b9b9b9;
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  min-width: 1142px;
}

.table_2 thead th {
  padding: 15px 0;
  text-align: left;
  font-weight: 800;
  font-size: 14px;
  color: var(--color-text);
  border-bottom: 0.6px solid #d5d5d5;
}

.table_2 thead th:first-child {
  padding: 0 24px;
}

.table_2 tbody td {
  padding: 8px 0;
  font-weight: 600;
  font-size: 14px;
  color: var(--color-text);
  border-bottom: 0.4px solid rgba(151, 151, 151, 0.6);
}

.table_2 tbody td:first-child {
  padding: 0 24px;
}

.table_2 tbody td img {
  width: 60px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 6px;
}

.table_2 tbody td .inner_time {
  font-size: 12px;
}
/* END TABLE 2 */

/* BOX ACTION */
.box_action {
  display: inline-block;
  border-radius: 8px;
  background-color: #fafbfd;
  border: 0.6px solid #d5d5d5;
}

.box_action a {
  display: inline-block;
  padding: 8.5px 16.5px;
}

.box_action a:first-child {
  border-right: 0.4px solid rgba(151, 151, 151, 0.7);
  opacity: 0.6;
  color: rgba(0, 0, 0, 0.6);
}

.box_action a:last-child {
  color: #ef3826;
}
/* END BOX ACTION */

/* TABLE 1 */
.table_1 {
  overflow-x: auto;
}

.table_1 table {
  width: 100%;
  border-collapse: collapse;
  min-width: 1076px;
}

.table_1 thead th {
  background-color: #f1f4f9;
  padding: 14px 22px;
  text-align: left;
}

.table_1 thead th:first-child {
  border-radius: 12px 0 0 12px;
}

.table_1 thead th:last-child {
  border-radius: 0 12px 12px 0;
}

.table_1 tbody td {
  padding: 10px 22px;
  border-bottom: 0.4px solid rgba(151, 151, 151, 0.4);
}

.table_1 tbody > div {
  font-weight: 600;
  font-size: 14px;
  color: var(--color-text);
  opacity: 0.8;
}
/* END TABLE 1 */

/* TEXT MAIN */
.text_main {
  font-weight: 700;
  font-size: 14px;
  color: var(--color-main);
}
/* END TEXT MAIN */

/* ALIGN */
.align_right {
  text-align: right !important;
}

.align_center {
  text-align: center !important;
}
/* END ALIGN */

/* TOUR LIST */
.tour_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tour_list .inner_item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tour_list .inner_item img {
  width: 76px;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 6px;
  object-fit: cover;
}

.tour_list .inner_item .inner_content {
  flex: 1;
}

.tour_list .inner_item .inner_content .inner_name {
  font-weight: 600;
  font-size: 14px;
  color: var(--color-text);
  margin-bottom: 3px;
}

.tour_list .inner_item .inner_content .inner_price {
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-weight: 600;
  font-size: 12px;
  color: var(--color-text);
  opacity: 0.8;
}
/* END TOUR LIST */

/* TAG */
.tag {
  display: inline-block;
  border-radius: 4.5px;
  padding: 5px 21px;
  font-weight: 700;
  font-size: 12px;
}

.tag_orange {
  background-color: rgba(255, 168, 86, 0.2);
  color: #ffa756;
}

.tag_green {
  background-color: rgba(0, 182, 155, 0.2);
  color: #00b69b;
}

.tag_red {
  background-color: rgba(239, 55, 38, 0.2);
  color: #ef3826;
}
/* END TAG */

/* BOX TITLE */
.box_title {
  font-weight: 700;
  font-size: 32px;
  color: var(--color-text);
  margin-bottom: 30px;
}

@media (max-width: 576px) {
  .box_title {
    font-size: 28px;
  }
}
/* END BOX TITLE */

/* .checkbox-wrapper-1 */
.checkbox-wrapper-1 label {
  font-weight: 600;
  font-size: 18px;
  color: rgba(32, 34, 36, 0.6);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
}

.checkbox-wrapper-1 *,
.checkbox-wrapper-1 ::after,
.checkbox-wrapper-1 ::before {
  box-sizing: border-box;
}
.checkbox-wrapper-1 [type="checkbox"].substituted {
  margin: 0;
  width: 0;
  height: 0;
  display: inline;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.checkbox-wrapper-1 [type="checkbox"].substituted + label:before {
  content: "";
  display: inline-block;
  vertical-align: top;
  height: 1.15em;
  width: 1.15em;
  margin-right: 0;
  color: rgba(0, 0, 0, 0.275);
  border: solid 0.06em;
  box-shadow:
    0 0 0.04em,
    0 0.06em 0.16em -0.03em inset,
    0 0 0 0.07em transparent inset;
  border-radius: 0.2em;
  background:
    url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xml:space="preserve" fill="white" viewBox="0 0 9 9"><rect x="0" y="4.3" transform="matrix(-0.707 -0.7072 0.7072 -0.707 0.5891 10.4702)" width="4.3" height="1.6" /><rect x="2.2" y="2.9" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 12.1877 2.9833)" width="6.1" height="1.7" /></svg>')
      no-repeat center,
    white;
  background-size: 0;
  will-change: color, border, background, background-size, box-shadow;
  transform: translate3d(0, 0, 0);
  transition:
    color 0.1s,
    border 0.1s,
    background 0.15s,
    box-shadow 0.1s;
}
.checkbox-wrapper-1 [type="checkbox"].substituted:enabled:active + label:before,
.checkbox-wrapper-1
  [type="checkbox"].substituted:enabled
  + label:active:before {
  box-shadow:
    0 0 0.04em,
    0 0.06em 0.16em -0.03em transparent inset,
    0 0 0 0.07em rgba(0, 0, 0, 0.1) inset;
  background-color: #f0f0f0;
}
/* Trạng thái khi ĐÃ CHECK */
.checkbox-wrapper-1 [type="checkbox"].substituted:checked + label:before {
  background-color: #4880ff; /* Màu chủ đạo của bạn */
  background-size: 0.75em;
  color: rgba(0, 0, 0, 0.075);
  border-color: #4880ff; /* Thêm dòng này để viền cũng đổi màu */
}

/* Trạng thái khi ĐANG CLICK (Active) */
.checkbox-wrapper-1
  [type="checkbox"].substituted:checked:enabled:active
  + label:before,
.checkbox-wrapper-1
  [type="checkbox"].substituted:checked:enabled
  + label:active:before {
  background-color: #366de6; /* Màu đậm hơn một chút khi nhấn giữ */
  color: rgba(0, 0, 0, 0.275);
}

/* Trạng thái khi FOCUS (Dùng phím Tab hoặc click vào) */
.checkbox-wrapper-1 [type="checkbox"].substituted:focus + label:before {
  box-shadow:
    0 0 0.04em,
    0 0.06em 0.16em -0.03em transparent inset,
    0 0 0 0.07em rgba(0, 0, 0, 0.1) inset,
    0 0 0 3.3px rgba(72, 128, 255, 0.25),
    /* Đổi thành màu #4880ff có độ trong suốt */ 0 0 0 5px
      rgba(72, 128, 255, 0.1); /* Đổi thành màu #4880ff có độ trong suốt */
}
.checkbox-wrapper-1 [type="checkbox"].substituted:focus:active + label:before,
.checkbox-wrapper-1 [type="checkbox"].substituted:focus + label:active:before {
  box-shadow:
    0 0 0.04em,
    0 0.06em 0.16em -0.03em transparent inset,
    0 0 0 0.07em rgba(0, 0, 0, 0.1) inset,
    0 0 0 3.3px rgba(65, 159, 255, 0.55),
    0 0 0 5px rgba(65, 159, 255, 0.3);
}
.checkbox-wrapper-1 [type="checkbox"].substituted:disabled + label:before {
  opacity: 0.5;
}

.checkbox-wrapper-1 [type="checkbox"].substituted.dark + label:before {
  color: rgba(255, 255, 255, 0.275);
  background-color: #222;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xml:space="preserve" fill="rgba(34, 34, 34, 0.999)" viewBox="0 0 9 9"><rect x="0" y="4.3" transform="matrix(-0.707 -0.7072 0.7072 -0.707 0.5891 10.4702)" width="4.3" height="1.6" /><rect x="2.2" y="2.9" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 12.1877 2.9833)" width="6.1" height="1.7" /></svg>');
}
.checkbox-wrapper-1
  [type="checkbox"].substituted.dark:enabled:active
  + label:before,
.checkbox-wrapper-1
  [type="checkbox"].substituted.dark:enabled
  + label:active:before {
  background-color: #444;
  box-shadow:
    0 0 0.04em,
    0 0.06em 0.16em -0.03em transparent inset,
    0 0 0 0.07em rgba(255, 255, 255, 0.1) inset;
}
.checkbox-wrapper-1 [type="checkbox"].substituted.dark:checked + label:before {
  background-color: #a97035;
  color: rgba(255, 255, 255, 0.075);
}
.checkbox-wrapper-1
  [type="checkbox"].substituted.dark:checked:enabled:active
  + label:before,
.checkbox-wrapper-1
  [type="checkbox"].substituted.dark:checked:enabled
  + label:active:before {
  background-color: #c68035;
  color: rgba(0, 0, 0, 0.275);
}
.checkbox-wrapper-1 [type="checkbox"].substituted + label {
  -webkit-user-select: none;
  user-select: none;
}

@media (max-width: 576px) {
  .checkbox-wrapper-1 [type="checkbox"].substituted + label:before {
    height: 0.85em;
    width: 0.85em;
  }
}
/* End .checkbox-wrapper-1 */
