extends ../layouts/layout_2.pug
include ../mixins/checkbox_1.pug

block title 
  title Quản lý danh mục

block main
  main.main
    .box_title Quản lý danh mục

    //- SECTION 4
    .section_4 
      .inner_wrap
        .inner_item 
          <i class="fa-solid fa-filter"></i>
          span Bộ lọc
        .inner_item 
          select(name="")
            option(value="") Trạng thái  
            option(value="") Hoạt động  
            option(value="") Tạm dừng  
        .inner_item 
          select(name="")
            option(value="") Người tạo  
            option(value="") Lê Văn A  
            option(value="") Lê Văn B
        .inner_item 
          input(type="date")
          span -
          input(type="date")
        .inner_item.inner_reset 
          <i class="fa-solid fa-rotate-left"></i>
          span Xóa bộ lọc
    //- END SECTION 4

    //- SECTION 5
    .section_5
      .inner_wrap 
        form.inner_change_status 
          select(name="")
            option(value="") -- Hành động --
            option(value="") -- Tạm dừng --
            option(value="") -- Hoạt động --
          button Áp dụng
        form.inner_search 
          button <i class="fa-solid fa-magnifying-glass"></i>
          input(type="text" placeholder="Tìm kiếm")
        a.inner_create(href="#") + Tạo mới 
    //- END SECTION 5

    //- SECTION 6
    .section_6 
      .table_2 
        table 
          thead 
            tr 
              th.align_center
                +checkbox-1("check_all")
              th Tên danh mục
              th.align_center Ảnh đại diện
              th.align_center Vị trí
              th.align_center Trạng thái
              th Tạo bởi
              th Cập nhật bởi
              th Hành động
          tbody 
            tr 
              td.align_center 
                +checkbox-1("check")
              td Danh mục 1
              td.align_center 
                img(src="assets/images/tour_1.png", alt="tour image")
              td.align_center 1
              td.align_center 
                .tag.tag_green Hoạt động
              td 
                div Lê Văn A
                .inner_time 16:30 - 20/10/2024
              td 
                div Lê Văn A
                .inner_time 16:30 - 20/10/2024
              td 
                .box_action 
                  a(href="#") <i class="fa-solid fa-pen-to-square"></i>
                  a(href="#") <i class="fa-solid fa-trash-can"></i>
    //- END SECTION 6

    //- SECTION 7
    .section_7 
      .inner_text Hiển thị 1 - 9 của 78
      select(name="")
        option(value="") Trang 1 
        option(value="") Trang 2 
        option(value="") Trang 3 
    //- END SECTION 7