extends ../layouts/layout_1.pug

block title
  title Đổi mật khẩu

block main 
  h1.inner_title Đổi mật khẩu
  .inner_desc Vui lòng nhập mật khẩu để tiếp tục
  form
    .inner_group
      label.inner_label(for="pwd") Mật khẩu mới
      input.inner_input#pwd(type="password")
    .inner_group
      label.inner_label(for="confirm_pwd") Xác nhận mật khẩu
      input.inner_input#confirm_pwd(type="password")
    button Thay đổi
  .inner_more
    span Bạn đã nhớ mật khẩu?
    a(href="#") Đăng nhập