extends ../layouts/layout_2.pug

block title 
  title Tổng quan

block main
  main.main
    .box_title Tổng quan

    //- SECTION 1
    .section_1 
      .inner_item 
        img(src="assets/images/section_1_icon_1.svg", alt="icon")
        .inner_text 
          .inner_title Người dùng
          .inner_number 1.200
      .inner_item 
        img(src="assets/images/section_1_icon_2.svg", alt="icon")
        .inner_text 
          .inner_title Đơn hàng
          .inner_number 3.600
      .inner_item 
        img(src="assets/images/section_1_icon_3.svg", alt="icon")
        .inner_text 
          .inner_title Doanh thu
          .inner_number 300.000.000đ
    //- END SECTION 1

    //- SECTION 2
    .section_2 
      .inner_head 
        .inner_title Biểu đồ doanh thu
        input.inner_input(type="month")
      .inner_chart Vẽ biểu đồ ở đây...
    //- END SECTION 2