extends ../layouts/layout_2.pug

block title 
  title 404 Not Found

block main
  main.main
    //- SECTION 10
    .section_10 
      img(src="assets/images/404.svg", alt="404 picture")
      h1.inner_title Trang này không tồn tại...
      a.inner_back(href="#") Trở về trang tổng quan
    //- END SECTION 10