extends ../layouts/layout_2.pug

block title 
  title Đổi mật khẩu

block main
  main.main
    .box_title Đổi mật khẩu

    //- SECTION 8
    .section_8 
      form
        .inner_group
          label.inner_label(for="pwd") Mật khẩu mới
          input.inner_control#pwd(type="password")
        .inner_group
          label.inner_label(for="comfirm_pwd") Nhập lại mật khẩu mới
          input.inner_control#comfirm_pwd(type="password")
        .inner_group.inner_2_cols 
          button Đổi mật khẩu
    //- END SECTION 8